---
import * as Data from './Services.md'
import { Image } from 'astro:assets'

import DemiseImage from './images/demise.jpg'
import CargoImage from './images/cargo.jpg'
import MonitoringImage from './images/monitoring.jpg'
import SafetyImage from './images/safety.jpg'
import PromotionalImage from './images/promotional.jpg'
---

<section id="services" class="services">
  <div class="services__content">
    <div class="services__image">
      <div id="demiseImage" class="services-picture">
        <Image src={DemiseImage} alt="" />
        <div class="image-caption">{Data.frontmatter.caption_one}</div>
      </div>
      <div id="cargoImage" class="services-picture" style="display: none;">
        <Image src={CargoImage} alt="" />
        <div class="image-caption">{Data.frontmatter.caption_two}</div>
      </div>
      <div id="monitoringImage" class="services-picture" style="display: none;">
        <Image src={MonitoringImage} alt="" />
        <div class="image-caption">{Data.frontmatter.caption_three}</div>
      </div>
      <div id="safetyImage" class="services-picture" style="display: none;">
        <Image src={SafetyImage} alt="" />
        <div class="image-caption">{Data.frontmatter.caption_four}</div>
      </div>
      <div id="promotionalImage" class="services-picture" style="display: none;">
        <Image src={PromotionalImage} alt="" />
        <div class="image-caption">{Data.frontmatter.caption_five}</div>
      </div>
    </div>
    <div class="services__static">
      <h2 class="services-title">{Data.frontmatter.title}</h2>
      <ul class="services__list">
        <li><button class="services__item active" data-index="0">{Data.frontmatter.link_one}</button></li>
        <li><button class="services__item" data-index="1">{Data.frontmatter.link_two}</button></li>
        <li><button class="services__item" data-index="2">{Data.frontmatter.link_three}</button></li>
        <li><button class="services__item" data-index="3">{Data.frontmatter.link_four}</button></li>
        <li><button class="services__item" data-index="4">{Data.frontmatter.link_five}</button></li>
      </ul>
    </div>
    <div class="services__description">
      <p id="demiseDescription" style="display: block;">Renting a helicopter for your personal use. You can choose any route and flight time to enjoy the beauty of nature or just spend time in the air.</p>
      <p id="cargoDescription" style="display: none;">We provide monitoring and surveillance services for various objects using helicopters. This can be useful for monitoring construction, agriculture or environmental protection.</p>
      <p id="monitoringDescription" style="display: none;">For your comfort during the flight, we also offer the services of a first pilot or second pilot to be on board the aircraft and assist in your needs.</p>
      <p id="safetyDescription" style="display: none;"> If you want to feel completely safe during the flight, we offer the services of a second pilot who will monitor the safety of the flight.</p>
      <p id="promotionalDescription" style="display: none;">Our employees have significant experience in aircraft management and operation questions which may be used to solve all your aircraft related issues.</p>
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const buttons = document.querySelectorAll('.services__item');
    const images = document.querySelectorAll('.services-picture') as NodeListOf<HTMLElement>;
    const descriptions = document.querySelectorAll('.services__description p') as NodeListOf<HTMLElement>;

    buttons.forEach((button, index) => {
      button.addEventListener('click', () => {
        buttons.forEach(btn => btn.classList.remove('active'));

        button.classList.add('active');

        images.forEach(image => image.style.display = 'none');
        images[index].style.display = 'block';

        descriptions.forEach(description => description.style.display = 'none');
        descriptions[index].style.display = 'block';
      });
    });
  });
</script>

<style lang="scss">
  @import './Services.scss';
</style>
