---
import * as Data from './Header.md'
import { Image } from 'astro:assets'

import Logo from './images/logo.svg'
---

<header class="header">
  <div class="header-container">
    <div class="header-container__logo">
      <Image src={Logo} alt="Logo" format="svg" />
    </div>
    <div class="header-container__burger">
      <span class="burger-icon"></span>
      <span class="burger-icon"></span>
      <span class="burger-icon"></span>
    </div>
    <div class="header-container__navigation" id="navigation">
      <ul class="header-container__items">
        <li><a class=header-link href="#company">{Data.frontmatter.link_one}</a></li>
        <li><a class=header-link href="#ceo">{Data.frontmatter.link_two}</a></li>
        <li><a class=header-link href="#services">{Data.frontmatter.link_three}</a></li>
        <li><a class=header-link href="#contacts">{Data.frontmatter.link_four}</a></li>
      </ul>
      <p class="header-container__description">Choose us for your next trip or project!</p>
    </div>
  </div>
</header>

<script>
  window.onload = function() {
    function toggleMenu() {
      const navigation = document.getElementById('navigation');
      const burger = document.querySelector('.header-container__burger');

      if (navigation && burger) {
        navigation.classList.toggle('active');
        burger.classList.toggle('active');
      }
    }

    const burgerElement = document.querySelector('.header-container__burger');
    if (burgerElement) {
      burgerElement.addEventListener('click', toggleMenu);
    }

    const links = document.querySelectorAll('.header-link');
    links.forEach(link => {
      link.addEventListener('click', function() {
        const navigation = document.getElementById('navigation');

        if (navigation && navigation.classList.contains('active')) {
          toggleMenu();
        }
      });
    });
  };
</script>


<style lang="scss">
  @import './Header.scss';
</style>
