---
const { bgColor, bg, path, src, format, title } = Astro.props.banner

import Container from './Container.astro'
import Title from './Title.astro'
---

<section data-scroll-section>
  <div
    class={`banner${bg ? ' banner--bg' : ' banner--default'}`}
    style={`--bg-color: var(--${bgColor}); --title-length: ${title && title.text.length > 50 ? 70 : 0}`}
    data-banner
    data-scroll
    data-scroll-speed="-3"
    data-scroll-position="top"
  >
    {
      bg ? (
        <div class="banner__title">
          {title && (
            <Container>
              <Title title={title} mod={'banner'} />
            </Container>
          )}
        </div>
      ) : (
        <div class="banner__img">
          <picture>
            <source
              media="(max-width: 480px)"
              srcset={`/images/${path}/adaptive/mobile/${src}.${format}`}
            />
            <source
              media="(min-width: 481px)"
              srcset={`/images/${path}/adaptive/desktop/${src}.${format}`}
            />
            <img
              data-img-lazy
              src="/images/lazy.png"
              data-src={`/images/${path}/adaptive/desktop/${src}.${format}`}
              alt={src}
            />
          </picture>
        </div>
      )
    }
  </div>
</section>

<style lang="scss">
  .banner {
    width: 100%;
    z-index: 2;
    background-color: var(--bg-color);
    overflow: hidden;
    will-change: transform;

    &--default {
      @include des {
        height: d(610);
        top: d(76);
      }

      @include tab {
        height: t(610);
        top: t(76);
      }

      @include mob {
        height: m(440);
      }
    }

    &--bg {
      @include des {
        height: d(380);
        top: d(76);
      }

      @include tab {
        height: t(380);
        top: t(76);
      }

      @include mob {
        height: m(calc(300 + var(--title-length)));
      }
    }

    &__img {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;

      & img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__title {
      @include des {
        padding-top: d(130);
      }

      @include tab {
        padding-top: t(130);
      }

      @include mob {
        padding: m(130) m(50) m(20);
      }
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: var(--white);
      z-index: 2;

      @include des {
        height: d(2);
      }

      @include tab {
        height: t(2);
      }

      @include mob {
        height: m(2);
      }
    }
  }
</style>
